<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
  </head>
  <body>

    <h1>Oops! </h1>
    <h2>The server returned a "{{ status_code }}".</h2>
    <img src="https://img6.leboncoin.fr/images/c85/c85da6e100be0a49d9bf12aab7fd10dbee027528.jpg"/>
			
  </body>
</html>