{# src/OC/PlatformBundle/Resources/views/Blog/translation.html.twig #}

<html>
  <body>
	  {{ 'Advertisement'| trans }}
	  {{ 'List of advertisement' | trans }}
	  {{ 'Hello'|trans }} {{ name }}!
  </body>
</html>